<%= scope(:popover_default_content, name: :label, label: "Label").render do %>
  <p>The template label. The same label will be used when creating new screens (but you can rename your screens after if you like). Must be unique.</p>
<% end %>
