<%= scope(:popover_default_content, name: :model, label: "Model").render do %>
  <p>The <%= link_to "model", routes.path(:models) %> to be used when building the screen associated with this template.</p>
<% end %>
