<%= scope(:popover_default_content, name: :name, label: "Name").render do %>
  <p>The template name. The same name will be used when creating new screens (but you can rename your screens after if you like). Must be unique.</p>
<% end %>
