<%= scope(:popover_default_content, name: :screen, label: "Screen").render do %>
  <p>The same template can be used to create multiple <%= link_to "Screens", routes.path(:screens) %>. Use this to select which screen you want to update based on changes to your code.</p>
<% end %>
